[project]
	description = Workshop 2017 11 21
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/robertberet
[access "refs/for/refs/*"]
	read = group user/robertberet
	push = group user/robertberet
	label-Code-Review = -2..+2 group user/robertberet
	label-Verified = -1..+1 group user/robertberet
	rebase = group user/robertberet
	removeReviewer = group user/robertberet
	submit = group user/robertberet
[access "refs/heads/*"]
	read = group user/robertberet
	create = group user/robertberet
	push = +force group user/robertberet
	pushMerge = group user/robertberet
[access "refs/tags/*"]
	push = group user/robertberet
	push = +force group user/robertberet
